// Specific CSS for your home-page
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h2 {
  margin-top: 30px;
  color: rgb(6, 117, 183);
  font-size: 30px;
  font-weight: bold;
}

h4 {
  color: rgb(1, 55, 91);
  font-size: 18px;
  font-weight: bold;
}

p {
  color: rgb(1, 55, 91);
  font-size: 12px;
}
