// Specific CSS for your home-page
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 5px;
  color: rgb(6, 117, 183);
}

h2 {
  margin-top: 30px;
  color: rgb(6, 117, 183);
  font-size: 30px;
  font-weight: bold;
}

h4 {
  color: rgb(1, 55, 91);
  font-size: 16px;
  font-weight: bold;
}

p {
  color: rgb(1, 55, 91);
  font-size: 12px;
}

.card-product-home {
  overflow: hidden;
  height: 280px;
  background: white;
  box-shadow: 0px 0px 20px -18px rgba(70,70,70,0.86);
  display: flex;
  align-items: center;
  margin: 16px;
  border-radius: 5px;

  & h4 {
    text-transform : uppercase;
    font-weight: bolder;
    font-size: 40px;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    color: white;
  }

}

.background-image-home{
  background-size: cover;
}

.link-home{
  width: 50%;
  text-decoration: none;
}

.btn-primary-color-playa{
  background-color: rgb(6, 117, 183);
}
