.beach-card {
  height: 350px;
  margin: 35px;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

.card-product-show {
  overflow: hidden;
  height: 280px;
  background: white;
  box-shadow: 0px 0px 20px -4px rgba(70,70,70,0.86);
  display: flex;
  align-items: center;
  margin-top: 16px;
  border-radius: 10px;
  width: 50%;

  & img {
    height: 250px;
    width: 250px;
    -o-object-fit: cover;
    object-fit: cover;
    padding-left: 16px;
    background-size: cover;
    border: 5px solid transparent;
  }
}

.card-product-show .card-product-show-infos {
  padding: 16px;
}

.text-end {
  text-align: left !important;
}

.booking-form {
  width: 45%;
}

.btn-back {
  position: relative;
  bottom: 40px;
  left: 40px;
}
