<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.terre.tv/wp-content/uploads/2020/05/plus-belles-plages-cuba.jpg);">
  <div class="container">
    <h1 data-controller="typed-js" class= "text-center"></h1>
    <%= link_to "Reserver votre plage", beaches_path, class: "btn btn-flat btn-primary btn-primary-color-playa btn-lg btn-block" %>
    <%= link_to "Ajouter une plage", new_beach_path, class: "btn btn-outline-light btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= link_to beaches_path, class: "link-home" do %>
      <div class="col card-product-home background-image-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/9470498/pexels-photo-9470498.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
        <h4 class="text-center-home">Find<br>the beach <br>of your dreams!</h4>
      </div>
    <% end %>
    <%= link_to beaches_path, class: "link-home" do %>
      <div class="col card-product-home background-image-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://sylvanbeachny.com/wp-content/uploads/2017/02/iStock-511068978-768x512.jpg);">
        <h4 class="text-center-home">Have <br>the time<br> of your life!</h4>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col card-product-home" style="background-color:rgb(120, 176, 186)">
      <h4>PLAYA<br>TO  GO </h4>
    </div>
    <div class="col card-product-home" style="background-color:rgb(183, 225, 207)">
      <h4>JUST</h4>
    </div>
    <div class="col card-product-home" style="background-color:rgb(158, 208, 230)">
      <h4>FOR YOU</h4>
    </div>
  </div>
</div>

<div class="footer" style="background-color:rgba(0, 0, 0, 0.1)">
  <div class="footer-links">
    <a href="https://github.com/"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by The Capitain
  </div>
</div>
