.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.container-sign-up-login {
  display: flex;
}
