<%# <div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div> %>

<div class="container">
  <div class="card-container">
    <div class="cards">
      <% @beaches.each do |beach| %>
        <div class="card">
          <p><%=beach.title%></p>
          <div class="flex-card">
          <p><%=beach.description%></p>
          <p><%=beach.price%></p>
          <%= link_to 'Show', beach %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div id="map">
    <img src="https://www.clickz.com/wp-content/uploads/2016/03/airbnb-search-map.png">
  </div>
</div>
